@using DrawShape.Models.Enums;

@{ 
    var shapesList = DrawShape.Helpers.EnumHelper.GetEnumList<ShapeType>();

}
<div>
    <label>Supported shapes are:</label>
    <ul>
        @foreach (var shape in shapesList.Skip(1))
        {
            <li>@shape</li>
        }
    </ul>   
</div>