
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>You have entered : @TempData["instruction"]</h3>
<h4>Sorry, system could understand the instruction. Please make sure to spell the shape and measurement correctly.</h4>

