
<div class="mt-5">
    <h4>Following are few examples of valid instructions:</h4>
    <ul>
        <li>Draw a circle with a radius of 100</li>
        <li>Draw a square with a side length of 200</li>
        <li>Draw a rectangle with a width of 250 and a height of 400</li>
        <li>Draw an octagon with a side length of 200</li>
        <li>Draw an isosceles triangle with a height of 200 and a width of 100</li>
    </ul>
</div>