
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label><span class="font-weight-bold">You have entered : </span>@TempData["instruction"]</label>
<p>Sorry, something went wrong while parsing the instruction you entered. Please try again.</p>

@Html.Partial("_ValidInstructions")